body {
    width: 120mm;
    height: 150mm;
    display: flex;
    justify-content: flex-start;
}
form {
    flex: 1 1 100%;
    height: 100%;
    flex-direction: column;
    background-image: url(../images/flag-of-ukraine.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    margin: 1rem;
}
.application {
    flex: 0 1 50%;
    width: 60%;
    background-color: white;
    box-shadow: 0px 0px 5px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size:x-large;
    color:white;
    margin: 1rem;
}
.page_title {
    margin-top: 1rem;
}
.progress {
    margin-top: 2rem;

}
.navigation {
    margin-top: 2rem;
}
.navigation_button {
    background-color: #2196f3;
    color: white;
    border-radius: 5px;
    font-size:medium;
}
.input {
    margin-top: 1rem;
    width: 80%;
    flex-basis: 7%;
}
.select {
    margin-top: 1rem;
    width: 83%;   
    flex-basis: 9%; 
}